.container{
	overflow-x:hidden;
	overflow-y:auto;
}
.container{
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;  
  background-size: cover;
  min-height:100%;
  text-align:center;
  position:relative;
  }

#con1{
	  background-image:url("../images/img_2.jpg");
}
 #h{
  background-image:url("../images/ex-img1.jpg");
 position:relative;
  background-position:center;
  background-repeat: no-repeat;  
  background-size: cover;
  min-height:100%;
  text-align:center;
  min-width:100%;
}

#con2{
	background-image:url("../images/about_1.jpg");
}
#con3{
	background-image:url("../images/img_1.jpg");
}
 #h p{
	 color:#fff;
	 text-shadow:2px 2px 4px grey;
	 font-size:5.5vw;
	 font-weight:800;
	 position:absolute;
	 width:100%;
	 margin:20% 0;
	 display:none;
 }

.wrapper .card,
 .wrapper .rec{
  position:relative;
  height:23vw;
  width:23vw;
 opacity:10;
 display:inline-block;
 top:10vw;

}
#c1{
	left:-10vw;
}
#c3{
	left:10vw;
}

.card  #p1{
     color: #f8f80c;
     font-family:ProximaNovaExCnBold;
	 font-size:2vw;
	 margin:26vw 28vw;
	 position:absolute;
	 text-shadow: 2px 2px 4px grey;
	 width:150%;
	 position:absolute;
	 text-transform:uppercase;
}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
          backface-visibility: hidden;
          transition: transform 0.3s;
}

.card__front {
  background-color: #ff5078;
  text-align:center;
}

.card__front #p2{
	color:#fff;
	position:absolute;
	width:100%;
	margin-top:8vw;
	font-size:3vw;
    line-height:2.5vw;
	}
	
.card__back {
  background-color: #F15A5C;
  transform: rotateY(-180deg);
}



/* hover effect */
.card.effect__hover:hover .card__front {
  transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
 transform: rotateY(0);
} 

#h1,
#h2{
    color:#fff;
	 text-shadow:2px 2px 4px grey;
	 font-size:5vw;
	 font-weight:800;
	 position:absolute;
	 width:100%;
			
}
#h1{
	 margin:28% 0;
}
#h2{
	 margin:150% 0;
}

.cardl {
  position:absolute;
  float: left;
  width: 23vw;
  height:23vw;
  text-align: center;
  opacity:1;
  left:3vw;
  }

.cardl:nth-child(1) {
  top:260%;
 
}
.cardl:nth-child(2){
	top:404%;
	
}

.cardl:nth-child(3){
	top:548%;
}
.cardl:nth-child(4){
	top:692%;
}
.cardl:nth-child(5){
	top:836%;
}
.cardl:nth-child(6){
	top:980%;
}
/* card fronts and backs */
.cardl__front,
.cardl__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardl__front,
.cardl__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
		  background-color: #1e1e1e;
}


.cardl__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* random effect */
.cardl.effect__random.flipped .cardl__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}


.cardl.effect__random.flipped .cardl__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
 .cardl #h2{
	  color:#33b1ef;
     font-family:ProximaNovaExCnBold;
	 font-size:2.2vw;
	 margin:0.5vw 30vw;
	 position:absolute;
	 text-shadow: 2px 2px 4px grey;
	 width:250%;
	 position:absolute;
	 text-transform:uppercase;
 }
 
 .cardl #p2{
	 color:#fff;
     font-family:ProximaNovaExCnBold;
	 font-size:1.5vw;
	 margin:5vw 29vw;
	 position:absolute;
	 width:250%;
	 position:absolute;
 }
